<% include partials/top %>

<div id="container" class="container mt-2">
  
  <h1 class="text-center"><%= statusCode %></h1>

  <h2 class="text-center"><%= errorMessage %></h2>

</div>

<% include partials/bottom %>
